

.Box {
  margin: 40px;
  border: 5px black;
  background-color: red;
  color: white;

}

.Text_content {
  font-size: 25px;
  text-align: center;
  
}

.photo{
width: 15%;
padding-left: 45%;
margin: auto;
}